<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/query.css') }}">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>
<body>
    <div class="navbar">
        <div class="nav-left">
            <a href="/">Dashboard</a>
            <select name="query-select" id="query-select" onchange="navigateToPage(this.value)" required>
                <option value = 5>Analysis - 5 </option>
                <option value = 1>Analysis - 1 </option>
                <option value = 2>Analysis - 2 </option>
                <option value = 3>Analysis - 3 </option>
                <option value = 4>Analysis - 4 </option>
            </select>
        </div>

        <!-- Right-aligned: Feedback, Profile, Logout -->
        <div class="nav-right">
            <a href="/feedback">Feedback</a>
            <a href="/profile">Profile</a>
            <a href="/logout">Logout</a>
        </div>
    </div>
    <div class = "content">
        <div class = "query-selector" name = "queryselection" id = "querySelector">
            <label for = "query-type">Select one of the topics to analyze:</label>
            <select name="query-type" id="query-type" required>
                <option value="medical_contribution-5">Medical Contribution </option>
            </select>
            <button type = "button" class = "btn btn-info" id = "submit-query-type">submit</button>
        </div>
        <div class = "filters d-none">
            <label for = "q1Form">Select filters to view the trend analysis</label>
            <form id = "q1Form">
                <!-- Form fields for Q1 -->
                <div class="d-none" id = "selects">
                    <select type="number" name="value1_q1" id="value1_q1" required>
                        <option value="-1">--</option>
                    </select>
                    <select type="number" name="value2_q1" id="value2_q1" required>
                        <option value="-1">--</option>
                    </select>
                    <select type="string" name="value3_q1" id="value3_q1" required multiple>
                        <option value="-1">--</option>
                    </select>
                    <button type="submit" id = "submitForm">Analyze</button>
                </div>
            </form>

            <!-- Result container -->
            <div class="result-container d-none" id="result-container">
                    <canvas id="myChart"></canvas>
            </div>
            <div class = "desc d-none" id = "descr">
                <p> 
                    This graph presents the evolution of a specific country's contribution to the global medical workforce over a series of years. It quantifies the country's share of medical doctors and dentists as a percentage of the total number in the world. The horizontal axis (X-axis) represents the timeline across various years, while the vertical axis (Y-axis) denotes the percentage contribution of the country's medical personnel relative to the global total. The graph is expected to show fluctuations that reflect the country's investments in healthcare and medical personnel distribution.
                </p>
            </div>
            <div class = "insights d-none" id = "insightsContainer">

            </div>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script type = "text/javascript" src="{{ url_for('static',filename='js/app.js') }}"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script type = "text/javascript" src="{{ url_for('static',filename='js/app.js') }}"></script>
</body>
</html>
